.react-player-container{
    height: 90vh;
}
.trailer {
    text-align: center;
    position: relative; 
    color: rgb(241, 238, 221); /* Set the initial color */
    animation: beat 1s infinite alternate; /* Add an automatic glow animation */
  }
  
  /* Keyframes for the automatic glow animation */
  @keyframes beat {
    0% {
        color: rgb(244, 243, 234); /* Start with the initial color */
        text-shadow: none; /* No text shadow */
    }
    100% {
        color: #e2dec4; /* Change to a glowing color */
        text-shadow: 0 0 10px #f0efe9, 0 0 20px #eae8df, 0 0 30px #eeebdc; /* Add a glowing text shadow */
    }
  }